body {
    color: #09374b;
    background-color: #f7f7f9;
}

.color1 {
    background-color: #E8E5D6;
}

.color2 {
    background-color: #B7A980;
}

.color3 {
    background-color: #C6D2E3;
}

html, body {
    height: 100%;
}

.full-height {
    height: 100%;
}

.spaced-content > * {
    margin-left: 5px;
}

.status-input {
    border: solid 1px #ccc;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    padding: 0 8px;
    margin: 8px;
    width: 150px;
}

.status-input.fake {
    border: none;
}

.spaced {
    margin-bottom: 8px;
}

.big-text {
    font-size: 30px;
}

.big-height {
    height: 300px;
}

.small-height {
    height: 80px;
}

.overflow-auto {
    overflow: auto;
}

.menu-btn {
    flex-shrink: 0;
    margin: 8px;
}

.table td, .table th {
   text-align: center;
}

.image {
    background-image: url('./image.jpg');
    background-size: cover;
    background-position: center center;
}

@media (max-width: 768px) {
    .order {
        order: -1;
    }
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}
