.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-reverse {
    flex-direction: row-reverse;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-center {
    justify-content: center;
}

.flex-end {
    justify-content: flex-end;
}

.flex-space-between {
    justify-content: space-between;
}

.flex-align-items-start {
    align-items: flex-start;
}

.flex-align-items-center {
    align-items: center;
}

.flex-align-start {
    align-self: flex-start;
}

.flex-align-end {
    align-self: flex-end;
}

.flex-expand {
    flex-grow: 1;
}

.flex-no-shrink {
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .flex-column-xs {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .flex-row-xs {
        flex-direction: row;
    }
}
