.green {
    background-color: #0f0;
}

.red {
    background-color: #f00;
}

.blue {
    background-color: #00f;
}

.color1 {
    background-color: #E8E5D6;
}

.color2 {
    background-color: #A7A17E;
}

.color3 {
    background-color: #C6D2E3;
}

html, body {
    height: 100%;
}

.full-height {
    height: 100%;
}

.spaced-content > * {
    margin-left: 5px;
}
